<div class="container">
  <div class="row">
    <article>
    <% @articles.each do |article| %>
      <h2><%= link_to article.title, article_path(article) %>
      </h2>
        <%#= link_to "Edit", edit_article_path(article) %> -
        <%#= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}%>
        <%= article.content %>
    <% end %>
    </article>
  </div>
    <%#= link_to "Create new article", new_article_path  %>
</div>
